
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.menu-principal{ 
    width: 100%;
    background-color: #242446;
    height: 80px;}

main{
    width: 900px;
    position: relative;
    margin: 0 auto;
}

.logo {
    padding: 5px;
    float: left;
    width: 70%;
}

.redes ul li {
    display: inline-block;
    margin-left: 8px;
    float: left;
    list-style: none;
}
.redes{
    position: relative;
    width: 20%;
    float: right;
}

.what{
    position: relative;
    padding: 5px;
    float: right;
}